<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="bans.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    <script src="real.js"></script>
</head>
<body>
    <style>
        @media (min-width: 1025px) {
    .h-custom {
    height: 100% !important;
    }
    }
    .last
    {
       background-color: black;
    }
    .i{
        border-radius:75%;
    }
    #new{
        color:gold;
    }
    .name{
        color: aquamarine;
    }
    #god{
        height: 100%;
    }
    .btn{
        margin-left: 40%;
    }
    </style>
    <section class="h-100 h-custom" style="background-color:#332c2c;" id="god">
        <div class="container py-5 h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-lg-8 col-xl-6">
              <div class="card rounded-3">
                <img  class = "i" src="https://static.vecteezy.com/system/resources/thumbnails/008/124/777/small_2x/real-estate-logo-house-logo-home-logo-sign-symbol-free-vector.jpg"
                  class="w-100" style="border-top-left-radius: .3rem; border-top-right-radius: .3rem;"
                  alt="Sample photo">
                <div class="card-body p-4 p-md-5">
                  <h3 class="mb-4 pb-2 pb-md-0 mb-md-5 px-md-2">Registration Info</h3>
                    <form action="/submitRegister" method="POST">
                  <form class="px-md-2">
                    <h5 id="new" >AREA : <%= Area %> </h5>
                    <h5 id="new" >NAME : <%= FNAME %> </h5>
                    <h5 id="new">Remaining Sites count for dimension = 600sq.ft : <%= D600 %> </h5>
                    <h5 id="new">Remaining Sites count for dimension = 1200sq.ft : <%= D1200 %> </h5>
                    <h5 id="new">Remaining Sites count for dimension = 2400sq.ft : <%= D2400 %> </h5>

                    <label for="D600">Dimension = 600 sq.ft :</label>

                    <select name="D600" id="D600">
                      <option value="0">0</option>
                      <option value="1">1</option>
                    </select>
                        <br>
                    
                        
                    <label for="D1200">Dimension = 1200 sq.ft :</label>
    
                    <select name="D1200" id="D1200">
                      <option value="0">0</option>
                      <option value="1">1</option>
                    </select>
                    <br>
                    
                    
                    <label for="D2400">Dimension = 2400 sq.ft :</label>
                    
                    <select name="D2400" id="D2400">
                      <option value="0">0</option>
                      <option value="1">1</option>
                    </select>
                    <br>

                    <button type="submit" class="btn btn-success btn-lg mb-1">Submit</button>
                  </form>
                </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      
</body>